################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/KnowledgeKeeper/KnowledgeKeeper/bin/x86/Debug
/KnowledgeKeeper/KnowledgeKeeper/obj
